<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.wmpf.demo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- for scan temporary start -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.PushMsgQuickStartActivity"/>
        <activity android:name=".ui.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FastExperienceActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.DocumentActivity" />
        <activity android:name=".ui.QAActivity" /> <!-- 扫码打开小程序 -->
        <activity android:name="com.tencent.wmpf.cli.task.LaunchWxaAppByScanInvoker" />
        <activity android:name=".ui.GetDeviceInfoActivity" />
        <activity android:name=".thirdpart.ThirdPartApiDemoActivity">
            <intent-filter>
                <action android:name="com.tencent.wmpf.action.WMPF_PRINTER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.tencent.wmpf.cli.provider"
            android:name=".contentprovider.ThirdPartContentProvider"
            android:exported="true"/>
    </application>

</manifest>