<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- for scan temporary start -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.PushMsgQuickStartActivity" />
        <activity android:name=".ui.FastExperienceActivity" />
        <activity android:name=".ui.DetailActivity" />
        <activity android:name=".ui.DocumentActivity" />
        <!-- 扫码打开小程序 -->
        <activity android:name=".ui.LaunchWxaAppByScanInvoker" />
        <activity android:name=".thirdpart.ThirdPartApiDemoActivity">
            <intent-filter>
                <action android:name="com.tencent.wmpf.action.WMPF_PRINTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ClientProvider"
            android:authorities="com.tencent.wmpf.cli.provider"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

    </application>

</manifest>