<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.wmpf.demo">

    <application
        android:label="商户应用示例"
        tools:replace="android:label">
        <activity android:name=".wxfacepay.IotActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.tencent.wmpf.cli.provider"
            android:name=".wxfacepay.WxFacePayContentProvider"
            android:exported="true"/>
    </application>
</manifest>
